<html>
     <meta charset="UTF-8"> 
    <script type="text/javascript" src="static/jquery.min.js" ></script>
    <script type="text/javascript" src="static/form.js" ></script>
    <title>Saisie fiches techniques keskonmange</title>
    <!--
    - Lien avec le dataset
        - code denrée
    - Données
        - Marque
        - Société
        - Site de fabrication
        - Dénomination légale de ventes
        - Ingrédients
            - Nom
            - Origine
            - Contient des OGM ?
            - Issus de l'agriculture biologique ?
            - Issu d'une pêche responsable ?
    - Métadonnées
        - Date de l'extraction
        - Personne ayant extrait les infos-->
    <form method="post" accept-charset="UTF-8">
        <ul>
            <li> Métadonnées : <ul>
                <li>Date : <input type="date" name="date" value="{{ date }}"/></li>
                <li>Nom : <input type="text" name="name" value="{{ name }}"/></li>
            </ul></li>
            <li>Données :
            <ul>
                <li>Code denrée : <input type="text" name="code"/></li>
                <li>Marque : <input type="text" name="brand"/></li>
                <li>Société : <input type="text" name="firm"/></li>
                <li>Site de fabrication : <input type="text" name="manufacturing_site"/></li>
                <li>Dénomination légale de vente : <input type="text" name="legal_name"/></li>
                <li>Ingrédients <input type="button" id="addIngredient" value="+"/> :
                    <ul id="ingredientList">
                    </ul>
                </li>
            </ul>
    <input type="submit" value="Submit"/>
    </form>
</html>
